/*Importa a fonte da API do google fonts. 'DM Sans', sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,800&display=swap");

.conteudo-planos {
  padding: 150px;
  text-align: center;
  width: 100%;
  height: 995px;
}

h1.titulo {
  color: #666565;
  font-family: "DM Sans", sans-serif;
  font-size: 75px;
}

div.conteudo-planos h3 {
  color: #666565;
  font-family: "DM Sans", sans-serif;
}

img.icon-plano {
  width: 25px;
}

h3.h3-texto {
    width: 900px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 35px;
}
