/*
  Cards usados para expressar a opnião do cliente.
*/

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.card {
  width: 300px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 30px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 80%;
  padding: 20px;
  height: 200px;
  border-radius: 80px;

}

.card h2 {
  font-size: 20px;
  margin-top: 10px;
  color: #333;
}

.card .rating {
  font-size: 10px;
  color: #f39c12;
}

.card p {
  margin-top: 10px;
  font-size: 17px;
  color: #555;
}
