@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,800&family=Dela+Gothic+One&family=Roboto:ital,wght@1,300&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "DM Sans", sans-serif;
  margin-top: 75px;
}

.container-contato {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: center;
  color: #656565;
}

.contato {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.titulo-contato h1 {
  font-size: 50px;
}

.titulo-contato h2 {
  color: #ffb612;
}

.titulo-contato img {
  width: 50px;
}

.img-de-redes {
  width: 800px;
  height: 600px;

}
