@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&display=swap");
.header {
  background-color: white;
  width: 100%;
  display: block;
  height: 8vh;
}

.nav-ul {
  list-style-type: none;
  display: flex;
}

/* Estiliza a li e da os espaçamentos */
.nav-ul li {
  font-family: "DM Sans", sans-serif;
  font-size: 30px;
  margin-top: 25px;
  margin-left: 30px;
}

/* Estiliza os links de navegação */
a {
  text-decoration: none;
  color: #111111;
  font-weight: 300;
}

a:hover {
  color: black;
}
