@import url("https://fonts.googleapis.com/css2?family=Gabarito&display=swap");



/*
  Defini regras para o header, aonde encontra a nav
*/
.header {
  display: flex;
  background-color: #f9f9f9;
  width: 100%;
  position: fixed;
  height: 70px;
  top: 0px;
}

.logo {
  width: 70px;
  margin-left: 25px;
}

.nav-ul {
  display: flex;
  list-style-type: none;
  gap: 40px;
  padding: 20px;
}

.nav-ul li {
  font-weight: bold;
  font-family: "Gabarito", cursive;
  font-size: 30px;
}

/* Estiliza os links de navegação */
a {
  text-decoration: none;
  color: #666565;
  font-weight: 300;
}

a:hover {
  color: black;
  border-bottom: 1px solid #666565;
}
