@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&display=swap");

.header {
  display: flex;
  background-color: #F9F9F9;
  width: 100%;
  position: fixed;
  height: 70px;
  top: 0px;
}


.logo {
  width: 70px;
  margin-left: 25px;

}


.nav-ul {
  display: flex;
  list-style-type: none;
  gap: 40px; 
  padding: 20px;
}

/* Estiliza a li e da os espaçamentos */
.nav-ul li {
  font-family: "DM Sans", sans-serif;
  font-size: 30px;

}

/* Estiliza os links de navegação */
a {
  text-decoration: none;
  color: #666565;
  font-weight: 300;
}

a:hover {
  color: black;
}
