@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,800&display=swap");



.nossos-destaques {


  text-align: center;
}


.nossos-destaques h3 {
  padding-top: 20px;
  font-family: "DM Sans", sans-serif;
  font-size: 30px;  
}

.nossos-destaques-ul {
  padding: 10px 30px 0px 30px;
}

.li-text {
  margin: 20px;
  width: 800px;
  height: auto;
  margin: 0 auto;
}

.nossos-destaques-ul li {
  padding: 8px;
  font-size: 25px;
  font-family: "DM Sans", sans-serif;
  color: #656565;
  text-align: left;
}
