@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,800&display=swap");
.imagem-destaque {
  position: left;
  justify-content: left;
  width: 600px;
}

img.destaque-icon {
  width: 100%;
  position: absolute;
}

.nossos-destaques {
  display: flex;
  border: 1px solid #656565;
  padding: 20px;
  border-radius: 50px;
  box-shadow: 10px 5px #656565;
  width: 1000px;
  height: 50%;
  margin: 0 auto;
}

.nossos-destaques-particao {
  width: 50%;
  height: 100%;
}

.nossos-destaques-particao h3 {
  padding-top: 20px;
  font-family: "DM Sans", sans-serif;
  font-size: 30px;  
  text-align: left;
}

.nossos-destaques-ul {
  padding: 10px 30px 0px 30px;
}

.nossos-destaques-ul li {
  text-align: left;
  padding: 8px;
  font-size: 25px;
  font-family: "DM Sans", sans-serif;
  color: #656565;
}
